<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <iframe src="https://www.virtualcitymap.de/?state=%5B%5B%5B13.379067350288166%2C52.504778551274285%2C1036.5971776371366%5D%2C%5B13.376245009814344%2C52.51735426504497%2C34.15406669549287%5D%2C1732.1177711856908%2C352.20412371207703%2C-35.36817504911328%2C359.96898595936176%5D%2C%22cesium%22%2C%5B%225c5d787e-a3b8-4d8d-99ae-a21cea663420%22%5D%2C%5B%5D%2C%5B%5B%22%40vcmap%2Fmulti-view%22%2C%7B%22active%22%3Afalse%7D%5D%2C%5B%22%40vcmap%2Fcesium-filters%22%2C%7B%22lig%22%3A%7B%7D%7D%5D%2C%5B%22%40vcmap%2Fviewshed%22%2C%7B%22mode%22%3Anull%7D%5D%5D%2C0%5D" frameborder="0" width="80%" height="500px"></iframe>
    <a
      href="https://www.businesslocationcenter.de/berlin3d-downloadportal/#/export"
      >Lien</a
    >
    <abbr title="Oriano - Développement Web">Oriano DEV</abbr>
    <acronym title="Hyper Text Markup Language">HTML</acronym> <!--Obsolète-->
    <address>
      https://www.businesslocationcenter.de/berlin3d-downloadportal/#/export
    </address>
    <p>Contact the author of this page:</p>

    <address>
      <a href="mailto:jim@example.com">frxpozin@gmail.com</a><br />
      <a href="tel:+14155550132">+49 172 69 17 801</a>
    </address>

    <map name="infographic">
      <area
        shape="poly"
        coords="129,0,260,95,129,138"
        href="https://developer.mozilla.org/docs/Web/HTTP"
        target="_blank"
        alt="HTTP"
      />
      <area
        shape="poly"
        coords="260,96,209,249,130,138"
        href="https://developer.mozilla.org/docs/Web/HTML"
        target="_blank"
        alt="HTML"
      />
      <area
        shape="poly"
        coords="209,249,49,249,130,139"
        href="https://developer.mozilla.org/docs/Web/JavaScript"
        target="_blank"
        alt="JavaScript"
      />
      <area
        shape="poly"
        coords="48,249,0,96,129,138"
        href="https://developer.mozilla.org/docs/Web/API"
        target="_blank"
        alt="Web APIs"
      />
      <area
        shape="poly"
        coords="0,95,128,0,128,137"
        href="https://developer.mozilla.org/docs/Web/CSS"
        target="_blank"
        alt="CSS"
      />
    </map>
    <img
      usemap="#infographic"
      src="/media/examples/mdn-info.png"
      alt="MDN infographic"
    />

    <map name="infographic">
      <area
        shape="poly"
        coords="129,0,260,95,129,138"
        href="#"
        alt="HTTP"
        onclick="showInfo('HTTP')"
      />
      <area
        shape="poly"
        coords="260,96,209,249,130,138"
        href="#"
        alt="HTML"
        onclick="showInfo('HTML')"
      />
      <area
        shape="poly"
        coords="209,249,49,249,130,139"
        href="#"
        alt="JavaScript"
        onclick="showInfo('JavaScript')"
      />
      <area
        shape="poly"
        coords="48,249,0,96,129,138"
        href="#"
        alt="Web APIs"
        onclick="showInfo('Web APIs')"
      />
      <area
        shape="poly"
        coords="0,95,128,0,128,137"
        href="#"
        alt="CSS"
        onclick="showInfo('CSS')"
      />
    </map>
    <img
      usemap="#infographic"
      src="/media/examples/mdn-info.png"
      alt="Infographie MDN"
    />

    <p id="info"></p>

    <script>
      function showInfo(technologie) {
        document.getElementById("info").innerHTML =
          "Vous avez sélectionné : " + technologie;
        console.log("Technologie sélectionnée : " + technologie);
      }
    </script>

<article>Ceci est un article (ajoute time)</article>
<aside>Note complémentaire</aside>
<audio><map name="infographic">
  <area shape="poly" coords="129,0,260,95,129,138" href="#" alt="HTTP" onclick="showInfo('HTTP')">
  <area shape="poly" coords="260,96,209,249,130,138" href="#" alt="HTML" onclick="showInfo('HTML')">
  <area shape="poly" coords="209,249,49,249,130,139" href="#" alt="JavaScript" onclick="showInfo('JavaScript')">
  <area shape="poly" coords="48,249,0,96,129,138" href="#" alt="Web APIs" onclick="showInfo('Web APIs')">
  <area shape="poly" coords="0,95,128,0,128,137" href="#" alt="CSS" onclick="showInfo('CSS')">
</map>
<img usemap="#infographic" src="/media/examples/mdn-info.png" alt="Infographie MDN">

<p id="info"></p>

<script>
function showInfo(technologie) {
  document.getElementById("info").innerHTML = "Vous avez sélectionné : " + technologie;
  console.log("Technologie sélectionnée : " + technologie);
}

<audio controls src="/media/cc0-audio/t-rex-roar.mp3">
  <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>
  </audio>


</script>
  </body>
</html>
