<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send API</title>
    <style>
      h1 {
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Créer un compte</h1>
    <form>
      <label for="username">
        Nom d'utilisateur
        <input type="text" name="username" id="username" />
      </label>
      <label for="password">
        Mot de passe
        <input type="password" name="password" id="password" />
      </label>
      <label for="email">
        Adresse email
        <input type="email" name="email" id="email" />
      </label>
      <input type="submit" id="submit" value="Créer le compte" />
    </form>

    <script>
      // ajouter l'évènement pour la validation
      document
        .querySelector("")
        .addEventListener("submit", function (event) {});
      // récupérer les valeurs du formulaire
      // stocker dans un dictionnaire
      // envoyer le dictionnaire à l'API
    </script>
  </body>
</html>
