<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send API</title>
    <style>
      h1 {
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Créer un compte</h1>
    <form id="signup-form">
      <label for="username">
        Nom d'utilisateur
        <input type="text" name="username" id="username" />
      </label>
      <label for="password">
        Mot de passe
        <input type="password" name="password" id="password" />
      </label>
      <label for="email">
        Adresse email
        <input type="email" name="email" id="email" />
      </label>
      <label for="gps">
        Coordonnées
        <input type="text" name="gps" id="gps" />
      </label>
      <input type="submit" id="submit" value="Créer le compte" />
    </form>

    <script>
      // ajouter l'évènement pour la validation
      document
        .querySelector("#signup-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          // récupérer les valeurs du formulaire
          const username = document.querySelector("#username").value;
          const password = document.querySelector("#password").value;
          const email = document.querySelector("#email").value;
          const gps = document.querySelector("#gps").value;

          // stocker dans un dictionnaire (temporairement)
          const userInfo = {
            username: username,
            password: password,
            email: email,
            gps: gps,
          };
          console.log(userInfo);

          // envoyer le dictionnaire à l'API
          fetch("http://localhost:3000/signup-user", {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // MimeType (ex: text/html)
            },
            body: JSON.stringify(userInfo),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Response :", data);
            })
            .catch((error) => {
              console.error("Error : ", error);
            });
        });

      // Côté client (frontend, navigateur) : html, css, js pour la manipulation du dom
      // Côté serveur (backend) : js avec nodejs, ou autres tels que python avec flask, ou bien java, etc.
    </script>
  </body>
</html>
